.contact {
	padding: 40px 0;
}
.contact__container {
}
._container {
}
.contact__body {
}
.contact__text {
	margin-right: 15px;
	margin-bottom: 20px;
}
.contact__text > *:not(:last-child) {
	margin-bottom: 10px;
}
.contact__title {
	color: var(--blue-color);
	letter-spacing: 0.1px;
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
}
.contact__subtitle {
	line-height: 143%;
}
.contact__btn {
	background-color: #ff7b47;
	border-radius: 5px;
	padding: 5px 40px;
	min-height: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: 700;
	line-height: 200%;
	text-align: center;
	color: #fff;
	transition: background-color 0.3s;
}
.contact__btn:hover {
	background-color: #b95128;
	transition: background-color 0.3s;
}
@media (min-width: 768px) {
	.contact__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
