/*----First-------------------------------------------------*/
.first {
	position: relative; /*для картинки*/
}
.first__container {
}
.first__body {
	padding-top: 184px;
	padding-bottom: 191px;
	position: relative;
	z-index: 2; /*чтобы достать контент из под картики*/
	max-width: 400px;
}
.first__body > *:not(:last-child) {
	/*! Обращаемся ко всем тегом первого уровня в контейнере -> для универсальности верстки */
	margin-bottom: 35px;
}
.first__title {
	font-weight: 800;
	font-size: 58px;
	line-height: calc(80 / 58 * 100%);
	color: var(--blue-color);
}
.first__text {
	font-size: 20px;
	line-height: calc(30 / 20 * 100%);
}
.first__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.first__buttons > *:not(:last-child) {
	margin-right: 10px;
}
.first__btn {
	border-radius: 37px;
	line-height: calc(28 / 14 * 100%);
	font-weight: 700;
	text-align: center;
	min-height: 48px; /*для безопасности*/
	padding: 5px 36px; /*5px для безопасности */
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
}
.first__btn--orange {
	background: #ff7b47;
	color: var(--white-color);
}
.first__btn--border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
}
.first__image {
	/* чтобы картинка была фоном */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 1440px) {
	.first__image img {
		object-position: right;
	}
}
@media (max-width: 1024px) {
	.first__body {
		padding-top: 120px;
	}
	.first__image {
		opacity: 0.5;
	}
}
@media (max-width: 479px) {
	.first__body {
		padding-bottom: 160px;
	}
	.first__title {
		font-size: 42px;
	}

	.first__btn {
		flex: 1 1 auto;
	}
	.first__buttons > *:not(:last-child) {
		margin-right: 0;
	}
	.first__image {
		opacity: 0.3;
	}
}
