.getintouch {
	padding: 80px 0 148px;
	background: #f3f3f3;
}
.getintouch__container {
}
.getintouch__header-block {
	max-width: 470px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.getintouch__body {
}
.getintouch__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 32.5px;
	align-items: center;
}
.getintouch__item {
	flex: 0 1 33.333%;
	background: #fff;
}
.getintouch-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
}
.getintouch-item > *:not(:last-child) {
	margin-bottom: 15px;
}
.getintouch-item__icon {
	max-width: 72px;
}
.getintouch-item__icon img {
	width: 100%;
}
.getintouch-item__link-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.getintouch-item__link {
	display: block;
	color: var(--blue-color);
	font-weight: 600;
	line-height: 171%;
	text-align: center;
}
.getintouch-item__link:hover {
	text-decoration: underline;
}
.getintouch-item__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
	color: var(--blue-color);
	text-align: center;
}
.getintouch-item__btn {
	border: 1px solid #ff7b47;
	border-radius: 5px;
	padding: 10px 20px;
	min-height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	color: #ff7b47;
	transition: all 0.3s;
}
.getintouch-item__btn:hover {
	background: #ff7b47;
	color: #fff;
}
.getintouch-item--active {
	background: var(--blue-color);
	padding: 80px 50px;
}
.getintouch-item--active .getintouch-item__link {
	color: #fff;
}
.getintouch-item--active .getintouch-item__title {
	color: #fff;
}
.getintouch-item--active .getintouch-item__btn {
	color: #fff;
	border-color: #fff;
}
.getintouch-item--active .getintouch-item__btn:hover {
	border-color: #ff7b47;
}
@media (max-width: 1024px) {
	.getintouch__list {
		margin: 0;
	}
}
@media (max-width: 992px) {
	.getintouch {
		padding: 40px 0 70px;
	}
	.getintouch__header-block {
		margin-bottom: 50px;
	}
	.getintouch-item {
		padding: 30px 20px;
	}
	.getintouch-item--active {
		padding: 50px 20px;
	}
}
@media (max-width: 767px) {
	.getintouch__header-block {
		margin-bottom: 30px;
	}
	.getintouch__list {
		flex-direction: column;
	}
	.getintouch-item:not(:last-child) {
		margin-bottom: 20px;
	}
	.getintouch-item {
		flex: 1 1 100%;
		width: 100%;
		padding: 30px 20px;
	}
}
