/*----Practice-------------------------------------------------*/

.practice {
	padding: 125px 0px 80px;
}
.practice__container {
}
.practice__header-block {
	margin-bottom: 45px;
}
.practice__header-block .header-block__text {
	max-width: 510px;
	margin: 0 auto;
}
.header-block {
}
.header-block__title {
}
.header-block__text {
	line-height: 143%;
}
.practice__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px -30px;
}
.practice__item {
}
.practice-item {
	flex: 0 1 25%;
	padding: 0 20px;
	margin-bottom: 30px;
}
.practice-item__body {
	background: #fff;
	display: flex;
	height: 100%;
	flex-direction: column;
}
.practice-item__content {
	padding: 30px;
	flex: 1 1 auto;
}
.practice-item__content > *:not(:last-child) {
	margin-bottom: 15px;
}
.practice-item__title-link {
	display: block;
}
.practice-item__title-link:hover {
	text-decoration: underline;
}
.practice-item__title {
	color: var(--blue-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0.1px;
}
.practice-item__text {
	line-height: 143%;
	flex: 1 1 auto;
}
.practice-item__image {
	display: block;
	padding-bottom: 60%; /*высота картинки / ширину картинки * 100% */
}
@media (max-width: 1040px) {
	.practice {
		padding: 40px 0 80px;
	}
	.practice__header-block {
		margin-bottom: 35px;
	}
	.practice-item {
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {
	.practice {
		padding: 20px 0 40px;
	}
	.practice__header-block {
		margin-bottom: 25px;
	}
	.practice-item {
		flex: 0 1 100%;
	}
}
