.subscribe {
	padding: 20px 0;
	position: relative;
}
.subscribe::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 77px;
	background: var(--blue-color);
}
.subscribe__container {
}
.subscribe__body {
	position: relative;
	z-index: 2;
	padding: 30px 50px;
	background: #17213c;
	border-radius: 2px;
}
.subscribe__title {
	color: var(--white-color);
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	font-weight: 700;
}
.subscribe__form {
	flex: 0 1 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.subscribe__email {
	flex: 1 1 auto;
	line-height: 200%;
	padding: 15px 20px;
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	border-radius: 5px 0 0 5px;
	min-height: 58px;
}
.subscribe__email:focus {
	color: #000;
}
.subscribe__btn {
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	border-radius: 0px 5px 5px 0px;
	line-height: 200%;
	color: var(--white-color);
	padding: 15px 22.5px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 58px;
	text-align: center;
}
@media (min-width: 1024px) {
	.subscribe__body {
		margin: 0 30px;
	}
}
@media (min-width: 810px) {
	.subscribe__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.subscribe__title {
		max-width: 266px;
	}
}
@media (max-width: 810px) {
	.subscribe__body {
		margin: 0 -15px;
	}
	.subscribe__title {
		margin-bottom: 20px;
	}
	.subscribe__form {
	}
	.subscribe__email {
	}
}
@media (max-width: 500px) {
	.subscribe__body {
		padding: 20px;
	}
	.subscribe__form {
		flex: 0 1 100%;
		flex-direction: column;
	}
	.subscribe__email {
		width: 100%;
		border-radius: 5px;
		margin-bottom: 15px;
	}
	.subscribe__btn {
		width: 100%;
		border-radius: 5px;
	}
}
