/*--- Подключение обнуляющих стилей ---*/
@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	/* Чтобы блочная модель работала правильно */
	/* Псевдоэлементы не элементы html, поэтому нужно прописывать им блочную модель отдельно */
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	margin: 0;
}
html a,
body a {
	cursor: pointer;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul,
ol,
li {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

/*--- Подключение шрифтов ---*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);
/*--- Переменный ---*/
*:root {
	--blue-color: #252b42;
	--white-color: #fff;
	--darkwhite-color: #fafafa;
	--green-color: #0d5c63;
}

/*--- Базовые стили ---*/
html,
body {
	height: 100%;
}
body {
	font-family: Montserrat, sans-serif;
	line-height: 1;
	font-weight: 500;
	font-size: 0.875rem; /*14px*/
	color: #737373;
	background: var(--darkwhite-color);
	letter-spacing: 0.2px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1050px;
	padding: 0 15px;
	margin: 0 auto;
}
/* Универсальный класс для того чтобы картинку делать фоном */
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header-block {
	text-align: center;
}
.header-block > *:not(:last-child) {
	margin-bottom: 10px;
}
.header-block__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: var(--blue-color);
}

.header-block__subtitle {
	letter-spacing: 0.2px;
	line-height: 143%;
}
@media (max-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}

/*----Main-------------------------------------------------*/
.main {
	flex: 1 1 auto;
}
.main__first {
}
.main__services {
	/*Поднимаем через отрицальный марджин, чтобы небыло пустого места + position relative для z-index*/
	position: relative;
	z-index: 2;
	margin-top: -111px;
}
.main__advanteges {
}
.main__practice {
}
.main__about {
}
.main__clients {
}
.main__subscribe {
}
.main__getintouch {
}
.main__contact {
}

/*--- Секции ---*/
/*--- Header --------------------------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
.header__logo {
	color: var(--blue-color);
	letter-spacing: 0.1px;
	font-weight: 700;
	font-size: 2rem;
	margin-right: 132px;
	opacity: 0.7;
	transition: all 0.3s;
}
.header__logo:hover {
	opacity: 1;
}
.header__menu {
	display: flex;
}

.menu {
	padding: 5px 0; /*отступ безопасности*/
}
.menu__list {
	display: flex;
}
.menu__item:not(:last-child) {
	margin-right: 21px;
}

.menu__link {
	line-height: calc(24 / 14 * 100%);
	font-weight: 600;
}
.menu__link:hover {
	text-decoration: underline;
}
.menu__btn {
	display: none;
}
.menu__btn span {
	display: block;
	width: 45px;
	height: 3px;
	background: var(--blue-color);
	transition: transform 0.3s;
}
.menu__btn span:not(:last-child) {
	margin-bottom: 5px;
}
.menu__list._active ~ .menu__btn span:not(:last-child) {
	margin-bottom: 0;
}
.menu__list._active ~ .menu__btn span:first-child {
	position: relative;
	top: 50%;
	transform: rotate(45deg);
	transition: transform 0.3s;
}
.menu__list._active ~ .menu__btn span:nth-child(2) {
	transition: display 0.3s;
	display: none;
}
.menu__list._active ~ .menu__btn span:last-child {
	transform: rotate(-45deg);
	transition: transform 0.3s;
}
@media (max-width: 992px) {
	.header__logo {
		margin-right: 80px;
	}
}
@media (max-width: 768px) {
	.header {
		position: fixed;
	}
	.header__container {
		justify-content: space-between;
		background: rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(5px);
	}
	.header__logo {
		margin-right: 50px;
	}
	.menu__list {
		overflow: scroll;
		flex-direction: column;
		position: absolute;
		top: 104px;
		left: 100%;
		width: 100%;
		height: 100vh;
		align-items: center;
		background: rgba(255, 255, 255, 0.7);
		backdrop-filter: blur(5px);
		transition: left 0.3s;
		display: none;
	}
	.menu__item {
		margin: 0;
		margin: 15px 0;
		color: var(--blue-color);
	}
	.menu__item:not(:last-child) {
		margin: 0;
		margin: 15px 0;
	}
	.menu__link {
		font-size: 20px;
	}
	.menu__btn {
		display: block;
	}
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
	.menu__list {
		top: 70px;
	}
}

._active {
	display: flex;
	left: 0;
	transition: left 0.3s;
}
/*----First-------------------------------------------------*/
.first {
	position: relative; /*для картинки*/
}
.first__container {
}
.first__body {
	padding-top: 184px;
	padding-bottom: 191px;
	position: relative;
	z-index: 2; /*чтобы достать контент из под картики*/
	max-width: 400px;
}
.first__body > *:not(:last-child) {
	/*! Обращаемся ко всем тегом первого уровня в контейнере -> для универсальности верстки */
	margin-bottom: 35px;
}
.first__title {
	font-weight: 800;
	font-size: 58px;
	line-height: calc(80 / 58 * 100%);
	color: var(--blue-color);
}
.first__text {
	font-size: 20px;
	line-height: calc(30 / 20 * 100%);
}
.first__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.first__buttons > *:not(:last-child) {
	margin-right: 10px;
}
.first__btn {
	border-radius: 37px;
	line-height: calc(28 / 14 * 100%);
	font-weight: 700;
	text-align: center;
	min-height: 48px; /*для безопасности*/
	padding: 5px 36px; /*5px для безопасности */
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
}
.first__btn--orange {
	background: #ff7b47;
	border: 1px solid #ff7b47;
	color: var(--white-color);
	transition: all 0.3s;
}
.first__btn--orange:hover {
	background: #fff;
	color: #ff7b47;
}
.first__btn--border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
	transition: all 0.3s;
}
.first__btn--border:hover {
	background: #0d5c63;
	color: #fff;
}
.first__image {
	/* чтобы картинка была фоном */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 1440px) {
	.first__image img {
		object-position: right;
	}
}
@media (max-width: 1024px) {
	.first__body {
		padding-top: 120px;
	}
	.first__image {
		opacity: 0.5;
	}
}
@media (max-width: 479px) {
	.first__body {
		padding-bottom: 160px;
	}
	.first__title {
		font-size: 42px;
	}

	.first__btn {
		flex: 1 1 auto;
	}
	.first__buttons > *:not(:last-child) {
		margin-right: 0;
	}
	.first__image {
		opacity: 0.3;
	}
}
/*----Services-------------------------------------------------*/
.services {
}
.services__container {
}
.services__body {
}
.services__list {
	/*@media min-width: 670px*/
}
.services__item {
	flex: 0 1 33.333%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.services-item > *:not(:last-child) {
	margin-bottom: 10px;
}
.services-item__body {
	padding: 35px 40px;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background: var(--white-color);
	height: 100%;
}
.services-item__body--green {
	background: var(--green-color);
	color: var(--white-color);
}
.services-item__body--green .services-item__title {
	color: var(--white-color);
}
.services-item__icon {
}
.services-item__img {
}
.services-item__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	color: var(--blue-color);
}
.services-item__text {
	line-height: 143%;
}
@media (min-width: 670px) {
	.services__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		margin-bottom: -30px;
	}
}
@media (max-width: 670px) {
	.services-item:last-child {
		margin-bottom: 0;
	}
}
@media (max-width: 992px) {
	.services__item {
		flex: 1 1 50%;
	}
}
@media (max-width: 479px) {
	.services-item__body {
		padding: 25px;
	}
}

/*----Advantages-------------------------------------------------*/
.advantages {
	padding: 80px 0;
}
.advantages__container {
}
.advantages__body {
}
.advantages__header {
	margin-bottom: 50px;
}
.advantages__header .header-block__subtitle {
	max-width: 510px;
	margin: 0 auto;
}
.advantages__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}
.advantages__item {
	flex: 0 1 25%;
	padding: 0 20px;
}
.advantages-item__body {
	padding: 30px 25px;
	background: var(--white-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}
.advantages-item__body > *:not(:last-child) {
	margin-bottom: 10px;
}
.advantages-item__icon {
	/*чтобы сделать все иконки одинкаовой высоты*/
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.advantages-item__title {
	color: var(--blue-color);
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
}
.advantages-item__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
}

@media (max-width: 1030px) {
	.advantages-item {
		margin-bottom: -30px;
	}
	.advantages-item {
		flex: 0 1 50%;
		margin-bottom: 30px;
	}
}
@media (max-width: 992px) {
	.advantages {
		padding: 30px 0;
	}
	.advantages__header {
		margin-bottom: 25px;
	}
}
@media (max-width: 560px) {
	.advantages-item {
		flex: 0 1 100%;
	}
}
/*----Practice-------------------------------------------------*/

.practice {
	padding: 125px 0px 80px;
}
.practice__container {
}
.practice__header-block {
	margin-bottom: 45px;
}
.practice__header-block .header-block__text {
	max-width: 510px;
	margin: 0 auto;
}
.header-block {
}
.header-block__title {
}
.header-block__text {
	line-height: 143%;
}
.practice__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px -30px;
}
.practice__item {
}
.practice-item {
	flex: 0 1 25%;
	padding: 0 20px;
	margin-bottom: 30px;
}
.practice-item__body {
	background: #fff;
	display: flex;
	height: 100%;
	flex-direction: column;
}
.practice-item__content {
	padding: 30px;
	flex: 1 1 auto;
}
.practice-item__content > *:not(:last-child) {
	margin-bottom: 15px;
}
.practice-item__title-link {
	display: block;
}
.practice-item__title-link:hover {
	text-decoration: underline;
}
.practice-item__title {
	color: var(--blue-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0.1px;
}
.practice-item__text {
	line-height: 143%;
	flex: 1 1 auto;
}
.practice-item__image {
	display: block;
	padding-bottom: 60%; /*высота картинки / ширину картинки * 100% */
}
@media (max-width: 1040px) {
	.practice {
		padding: 40px 0 80px;
	}
	.practice__header-block {
		margin-bottom: 35px;
	}
	.practice-item {
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {
	.practice {
		padding: 20px 0 40px;
	}
	.practice__header-block {
		margin-bottom: 25px;
	}
	.practice-item {
		flex: 0 1 100%;
	}
}
/*--- About ---*/
.about {
	background: var(--white-color);
	padding: 80px 0 130px;
}
.about__container {
}

.about__header-block {
	margin-bottom: 100px;
}
.about__header-block .header-block__text {
	max-width: 475px;
	margin: 0 auto;
}
.header-block {
}
.header-block__title {
}
.header-block__text {
}
.about__body {
	display: flex;
}
.about__video {
	flex: 0 0 58.5%;
	position: relative;
	padding-bottom: 43.34%;
	margin-right: 121.5px;
}
.about__video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about__content {
	flex: 1 1 auto; /*в случае если видео не будет, контент займет всю ширину*/
}
.about-content__header-block {
	text-align: left;
	padding-top: 22px;
}
.about-content__header-block:not(:last-child) {
	margin-bottom: 50px;
}
.about__list {
	/*margin-top: 50px;*/
}
.about__list > *:not(:last-child) {
	margin-bottom: 30px;
}
.about__item {
}
.about-item {
}
.about-item__body {
	display: flex;
}
.about-item__icon {
	flex: 0 0 32px;
}
.about-item__descr {
	flex: 1 1 auto;
	margin-left: 20px;
}
.about-item__descr > *:not(:last-child) {
	margin-bottom: 5px;
}
.about-item__title {
	color: var(--blue-color);
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
	font-weight: 700;
}
.about-item__text {
	font-weight: 600;
	line-height: 171%;
}
@media (max-width: 1080px) {
	.about__video {
		margin-right: 50px;
	}
}
@media (max-width: 950px) {
	.about {
		padding: 50px 0;
	}
	.about__header-block {
		margin-bottom: 30px;
	}
	.about__body {
		flex-direction: column-reverse;
	}
	.about__video {
		margin-right: 0;
		padding-bottom: 56.25%;
	}
	.about__video:not(:last-child) {
		margin-top: 50px;
	}
	.about-content__header-block {
		text-align: center;
	}
}
@media (max-width: 767px) {
	.about {
		padding: 20px 0 30px;
	}
	.about__header-block {
		margin-bottom: 15px;
	}
}
.clients {
	padding: 50px 0;
}
.clients__container {
}
.clients__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
}
.clients__item {
	flex: 0 1 16.667%;
	padding: 8px 15px;
	min-width: 140px;
}
.clients-item {
}
.clients-item__image {
}
.clients-item__image img {
	max-width: 100%;
}
@media (max-width: 992) {
	.clients {
		padding: 20px 0;
	}
}
.subscribe {
	padding: 20px 0;
	position: relative;
}
.subscribe::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 77px;
	background: var(--blue-color);
}
.subscribe__container {
}
.subscribe__body {
	position: relative;
	z-index: 2;
	padding: 30px 50px;
	background: #17213c;
	border-radius: 2px;
}
.subscribe__title {
	color: var(--white-color);
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	font-weight: 700;
}
.subscribe__form {
	flex: 0 1 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.subscribe__email {
	flex: 1 1 auto;
	line-height: 200%;
	padding: 15px 20px;
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	border-radius: 5px 0 0 5px;
	min-height: 58px;
}
.subscribe__email:focus {
	color: #000;
}
.subscribe__btn {
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	border-radius: 0px 5px 5px 0px;
	line-height: 200%;
	color: var(--white-color);
	padding: 15px 22.5px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 58px;
	text-align: center;
	transition: all 0.3s;
}
.subscribe__btn:hover {
	background: #c2643f;
}
@media (min-width: 1024px) {
	.subscribe__body {
		margin: 0 30px;
	}
}
@media (min-width: 810px) {
	.subscribe__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.subscribe__title {
		max-width: 266px;
	}
}
@media (max-width: 810px) {
	.subscribe__body {
		margin: 0 -15px;
	}
	.subscribe__title {
		margin-bottom: 20px;
	}
	.subscribe__form {
	}
	.subscribe__email {
	}
}
@media (max-width: 500px) {
	.subscribe__body {
		padding: 20px;
	}
	.subscribe__form {
		flex: 0 1 100%;
		flex-direction: column;
	}
	.subscribe__email {
		width: 100%;
		border-radius: 5px;
		margin-bottom: 15px;
	}
	.subscribe__btn {
		width: 100%;
		border-radius: 5px;
	}
}
.getintouch {
	padding: 80px 0 148px;
	background: #f3f3f3;
}
.getintouch__container {
}
.getintouch__header-block {
	max-width: 470px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.getintouch__body {
}
.getintouch__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 32.5px;
	align-items: center;
}
.getintouch__item {
	flex: 0 1 33.333%;
	background: #fff;
}
.getintouch-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
}
.getintouch-item > *:not(:last-child) {
	margin-bottom: 15px;
}
.getintouch-item__icon {
	max-width: 72px;
}
.getintouch-item__icon img {
	width: 100%;
}
.getintouch-item__link-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.getintouch-item__link {
	display: block;
	color: var(--blue-color);
	font-weight: 600;
	line-height: 171%;
	text-align: center;
}
.getintouch-item__link:hover {
	text-decoration: underline;
}
.getintouch-item__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
	color: var(--blue-color);
	text-align: center;
}
.getintouch-item__btn {
	border: 1px solid #ff7b47;
	border-radius: 5px;
	padding: 10px 20px;
	min-height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	color: #ff7b47;
	transition: all 0.3s;
}
.getintouch-item__btn:hover {
	background: #ff7b47;
	color: #fff;
}
.getintouch-item--active {
	background: var(--blue-color);
	padding: 80px 50px;
}
.getintouch-item--active .getintouch-item__link {
	color: #fff;
}
.getintouch-item--active .getintouch-item__title {
	color: #fff;
}
.getintouch-item--active .getintouch-item__btn {
	color: #fff;
	border-color: #fff;
}
.getintouch-item--active .getintouch-item__btn:hover {
	border-color: #ff7b47;
}
@media (max-width: 1024px) {
	.getintouch__list {
		margin: 0;
	}
}
@media (max-width: 992px) {
	.getintouch {
		padding: 40px 0 70px;
	}
	.getintouch__header-block {
		margin-bottom: 50px;
	}
	.getintouch-item {
		padding: 30px 20px;
	}
	.getintouch-item--active {
		padding: 50px 20px;
	}
}
@media (max-width: 767px) {
	.getintouch__header-block {
		margin-bottom: 30px;
	}
	.getintouch__list {
		flex-direction: column;
	}
	.getintouch-item:not(:last-child) {
		margin-bottom: 20px;
	}
	.getintouch-item {
		flex: 1 1 100%;
		width: 100%;
		padding: 30px 20px;
	}
}
.contact {
	padding: 40px 0;
}
.contact__container {
}
._container {
}
.contact__body {
}
.contact__text {
	margin-right: 15px;
	margin-bottom: 20px;
}
.contact__text > *:not(:last-child) {
	margin-bottom: 10px;
}
.contact__title {
	color: var(--blue-color);
	letter-spacing: 0.1px;
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
}
.contact__subtitle {
	line-height: 143%;
}
.contact__btn {
	background-color: #ff7b47;
	border-radius: 5px;
	padding: 5px 40px;
	min-height: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: 700;
	line-height: 200%;
	text-align: center;
	color: #fff;
	transition: background-color 0.3s;
}
.contact__btn:hover {
	background-color: #b95128;
	transition: background-color 0.3s;
}
@media (min-width: 768px) {
	.contact__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
/*----Footer-------------------------------------------------*/
.footer {
}
.footer__top {
}
.footer-top {
	padding: 35px 0;
	background: #17213c;
}
.footer-top__container {
}
.footer-top__body {
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.footer-top__menu {
	padding: 15px;
}
.footer-menu {
}
.footer-menu__title {
	letter-spacing: 0.1px;
	font-size: 16px;
	line-height: 150%;
	font-weight: 700;
	margin-bottom: 20px;
}
.footer-menu__list {
}
.footer-menu__item {
	font-weight: 600;
	line-height: 171%;
}
.footer-menu__item:not(:last-child) {
	margin-bottom: 10px;
}
.footer-menu__link {
}
.footer-menu__link:hover {
	text-decoration: underline;
}
.footer-contact {
}
.footer-contact__title {
	letter-spacing: 0.1px;
	font-size: 16px;
	line-height: 150%;
	font-weight: 700;
	margin-bottom: 20px;
}
.footer-contact__list {
}
.footer-contact__item {
	font-weight: 600;
}
.footer-contact__item:not(:last-child) {
	margin-bottom: 10px;
}
.footer-contact__link {
	padding-left: 34px;
	line-height: 171%;
	display: inline-block;
	min-height: 30px;
}
.footer-contact__link:hover {
	text-decoration: underline;
}
.footer-contact__phone {
	background: url("../img/footer/tel.svg") 0 0 no-repeat;
}
.footer-contact__map {
	background: url("../img/footer/map.svg") 0 0 no-repeat;
}
.footer-contact__mail {
	background: url("../img/footer/mail.svg") 0 0 no-repeat;
}
.footer__bottom {
	padding: 25px 0;
}
.footer-bottom {
}
.footer-bottom__container {
}
.footer-bottom__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-bottom__copy {
	font-weight: 600;
	line-height: 171%;
	font-size: 14px;
}
.footer-bottom__social {
}
.footer-social__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.footer-social__item {
	opacity: 0.7;
	transition: all 0.3s;
}
.footer-social__item:hover {
	opacity: 1;
}
.footer-social__item:not(:last-child) {
	margin-right: 20px;
}
.footer-sosial__link {
}
@media (max-width: 992px) {
	.footer-top__body {
		flex-wrap: wrap;
	}
	.footer-menu {
		flex: 0 1 50%;
	}
}
@media (max-width: 768px) {
	.footer-menu {
		flex: 1 1 100%;
	}
	.footer-contact {
		flex: 1 1 100%;
	}
	.footer-menu__title {
		position: relative;
		display: flex;
		margin-bottom: 10px;
	}
	.footer-menu__title:before {
		content: "";
		position: absolute;
		display: block;
		height: 3px;
		width: 25px;
		background: #fff;
		top: 50%;
		right: 0;
		transform: rotate(90deg);
		transition: all 0.3s;
	}
	.footer-menu__title:after {
		content: "";
		position: absolute;
		display: block;
		height: 3px;
		width: 25px;
		background: #fff;
		top: 50%;
		right: 0;
		transition: all 0.3s;
	}
	.footer-menu__title.active-title::before {
		transform: rotate(135deg);
	}
	.footer-menu__title.active-title::after {
		transform: rotate(45deg);
	}
	.footer-menu__list {
		display: none;
		padding: 15px;
		background: #fff;
		color: #17213c;
	}
	.footer-menu__item {
	}
	.footer-bottom__body {
		flex-direction: column;
	}
	.footer-bottom__copy {
		margin-bottom: 15px;
		text-align: center;
	}
}
.active {
	display: block;
}
